* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

a {
  color: #000;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: calc(100/750*100vw);
}

#app,
.wrap {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header {
  height: calc(.6rem*2);
  display: flex;
}

.header span:nth-child(1) {
  flex: 7;
  margin: 10px;
}

.header span:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.header span:nth-child(2) {
  flex: 3;
  margin-left: 40%;
  margin-top: 5%;
}

.nav {
  height: calc(.5rem*2);
}

.nav ul {
  display: flex;
}

.nav ul li {
  flex: 1;
  text-align: center;
  line-height: calc(.5rem*2);
  font-size: 14px;
}

.nav ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav ul .router-link-active {
  color: #22bbbb;
  border-bottom: 1px solid #22bbbb;
}

.main {
  flex: 1;
  overflow: auto;
}

.main .banner {
  height: calc(1.6rem*2);
}

.main .banner .img {
  width: 100%;
  height: 100%;
}

.main .search {
  height: calc(.5rem*2);
  background: #e5e5e5;
}

.main .search input {
  width: 80%;
  height: calc(.3rem*2);
  margin: 10px;
  border: 0;
  border-radius: 10px;
}

.content {
  width: 95%;
  height: 100%;
  margin: auto;
}

.content .list {
  display: flex;
  height: calc(.8rem*2);
  margin: 10px auto;
}

.content .list li:nth-child(1) {
  flex: 2;
  text-align: center;
  margin: 20px auto;
}

.content .list li:nth-child(1) p:nth-child(1) {
  font-weight: bold;
  color: red;
}

.content .list li:nth-child(2) {
  flex: 3;
}

.content .list li:nth-child(2) img {
  width: 100%;
  height: 100%;
}

.content .list li:nth-child(3) {
  flex: 5;
  margin-left: 20px;
}

.content .list li:nth-child(3) p:nth-child(1) {
  font-weight: bold;
  font-size: 14px;
}

.tit {
  height: calc(.5rem*2);
}

.tit li {
  line-height: calc(.5rem*2);
  display: flex;
}

.tit li span:nth-child(1) {
  flex: 4;
}

.tit li span:nth-child(2) {
  flex: 6;
}
